<?xml version="1.0" ?>
<launch>
    <include file="$(find mir_gazebo)/launch/mir_empty_world.launch">
        <arg name="robot_x"   value="0" />
        <arg name="robot_y"   value="0" />
        <arg name="world_name" value="/app/mymaze/default.world"/>
    </include>

    <!--include file="$(find mir_navigation)/launch/hector_mapping.launch" /-->

    <!--include file="$(find mir_navigation)/launch/move_base.xml">
        <arg name="with_virtual_walls"   value="false" />
    </include-->

    <node name="rviz" pkg="rviz" type="rviz" args="-d /app/mir_search.rviz" />

    <!--node name="odom_pub" pkg="topic_tools" type="relay" args="odom_comb odom"/-->

    <!--node pkg="tf" type="static_transform_publisher" name="odom" args="0 0 0 0 0 0 /odom_comb /odom  1"/ -->

</launch>